:root {
    --fuente-titulos: 'Rubik', sans-serif;
    --fuente-texto: 'Fragment Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-texto);
    scroll-behavior: smooth;
}

h1 > a,
h2,
h3 {
    font-family: var(--fuente-titulos);
}

h2 {
    font-size: 2rem;
}

/* --- Pantalla de carga --- */
#carga {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: top 1s ease-in-out;
}

#porcentaje {
    font-family: 'Fragment Mono', monospace;
    font-size: 6vw;
    color: rgb(255, 255, 255);
    transition: opacity 0.5s;
}

/* --- Artistas --- */
.artistas {
    font-family: var(--fuente-titulos);
    text-align: center;
    padding: 20vh 10%;       
    line-height: 0.9;        
    text-transform: uppercase;
    background-color: #000;  
    color: #fff;             
}

.artistas h2 {
    font-size: 3.8rem;
    font-weight: 900;
}

.artistas h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

.artistas h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}
    



nav#menu {
    background-color: #fff;        
    position: sticky;              /* el menú se queda fijo arriba al hacer scroll */
    top: 0;
    z-index: 100;                  /* se asegura de quedar por encima del resto */
    padding: 10px 40px;            /* espacio interior: arriba/abajo, lados */
}

/* ---  (alineamos todo en una fila) --- */
.menu-contenedor {
    display: flex;                 
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
}

/* --- Bloque izquierdo: logo + enlaces --- */
.menu-izquierda {
    display: flex;
    align-items: center;
    gap: 30px;      /* separación entre el logo y los enlaces */
}

/* --- Logo --- */
.logo a {
    font-family: 'Rubik', sans-serif; 
    font-size: 1em;
    text-decoration:none;            
    color: #000000;
    font-weight: 800;
    letter-spacing: 0.2px; 
       
             
}

/* --- Enlaces principales --- */
.nav-links {
    list-style: none;       /* quitamos los puntos de la lista */
    display: flex;
    gap: 20px;              /* espacio horizontal entre enlaces */
    margin: 0;             /* quitamos márgenes por defecto */
    padding: 0;
}

.nav-links a {
    text-decoration: none;            
    color: #333;             /* tono gris oscuro para suavizar */
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #000;         /* color más oscuro al pasar el ratón */
}

/* --- Botón derecho --- */
.boton-comprar {
    background-color: #000000;          
    color: #fff;                       /* texto blanco */
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    padding: 10px 20px;                /* espacio interior */
    border-radius: 9999px;             /* forma de “píldora” */
    transition: background-color 0.3s ease;
}

.boton-comprar:hover {
    background-color: #333333;            /* color más claro al pasar el ratón */
}

.cabecera {
    text-align: center;                 /* todo centrado */
    padding: 10em 2em;     /* espacio amplio arriba y abajo */
    font-family: 'Rubik', sans-serif;
}

/* Título grande */
.titulo-cabecera {
    font-family: 'Rubik, sans-serif';
    font-size: 8rem;                
    line-height: 0.9;     /* letras más compactas verticalmente */
    font-weight: 900;                   
    text-transform: uppercase;
    color: #111;
    margin-bottom: 20px;
}

